<nav class="navbar navbar-inverse">
  <div class="container-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Graduation Photo</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a href="/">Home</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/allposts">All Posts</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/favorities">Favorites</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/myposts">My Post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" *ngIf="isLoggedIn">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0)"><span class="user-name-display">{{name}}</span>
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)"><span class="user-title">Email: </span><span class="user-data">{{email}}</span></a></li>
          <li><a href="javascript:void(0)"><span class="user-title">Uid: </span><span class="user-data">{{uid}}</span></a></li>
        </ul>
      </li>
      <li routerLinkActive="active" *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active" *ngIf="!isLoggedIn"><a routerLink="/signup">Sign up</a></li>
      <li routerLinkActive="active" *ngIf="isLoggedIn" (click)="onLogout()"><a routerLink="/">Log out</a></li>
    </ul>
  </div>
</nav>